body {
    /*font-family: 'DM Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 14px;
}
.editor-textarea-hgt {
    height:auto;
}

.editor-textarea-hgt .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .editor-textarea-hgt .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    height:200px !important;
}
.ck-editor__editable {
    min-height: 200px !important;
}

#subject-main .clsopt{
	width: 200px !important;
}

.multicls{ height:200px !important; }
.tag{
	margin-left: 0;
	margin-top: .31rem;
	margin-right: 5px;
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    padding: 0 5px;
	font-size: 14px;
	border: 1px solid #17a2b8;
    border-radius: 4px;
    cursor: default;
    float: left;
    
}

.invalid-feedback {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 80%;
    color: #dc3545;
}

.projects td {
    vertical-align: top;
}
.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    padding: 15px;
}
.user-panel img {
    height: auto;
    width: 3.1rem;
    padding: 5px;
}
.tooltip1 {
	  position: relative;
	  display: inline-block;
	  border-bottom: 1px dotted black;
	}

	.tooltip1 .tooltiptext {
	  visibility: hidden;
	  width: 150px;
	  background-color: black;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;
	  position: absolute;
	  z-index: 1;
	  bottom: 150%;
	  left: 50%;
	  margin-left: -60px;
	}

	.tooltip1 .tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black transparent transparent transparent;
	}

	.tooltip1:hover .tooltiptext {
	  visibility: visible;
	}
	
	.lbl{
	  float:left !important;
      margin-left:-40px !important; 
	}
	
   .multiact{
	    cursor:pointer;
	    background-color: #eee;
		color: #333;
		padding: 0 28px 0 6px;
		margin-top: .31rem;
		border: 1px solid #ccc;
		border-radius: 3px;
		cursor: default;
		float: left;
		margin-right: 3px;
		margin-left: 2px;
		box-sizing: border-box;
		position: relative;
    }
	
	
	.act-concepts {
		/*overflow:hidden;*/
		margin-bottom:0;
	}
	.multiact.multi-tag {
	    background-color: transparent;
		color: #333;
		border-radius:8px;
        margin-right: 0px;
        margin-left: 0px;
		width:100%;
		padding: 10px 10px 5px 10px;
		margin-top: 0;
		margin-bottom:10px;
		border: 1px solid #eee;
		position:relative;
		overflow: hidden;
		transition:0.3s;		
    }
	.multiact.multi-tag:hover {
	    box-shadow:inset 0 0 4px rgb(0 0 0 / 10%);	
    }
	.multiact.multi-tag:last-child {
		margin-bottom:15px;
		padding-bottom: 5px;
    }
	.multiact.multi-tag span.select2-selection__choice__remove {
		width: 24px;
		height: 22px;
		background: #f5f5f5;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		color:#999;
		text-align:center;
		cursor:pointer;
		border-left: 0px;
		border-radius:0 0 0 5px;
	}
	span.select2-selection__choice__remove {
		width: 22px;
		height: 21px;
		background: transparent;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 0px;
		color: #999;
		text-align: center;
		border-left: 1px solid #ccc;
		cursor:pointer;
		transition:0.3s;
}
.multiact.multi-tag:hover span.select2-selection__choice__remove {
	    background-color:#e5e5e5;	
    }
	.multiact.multi-tag ul {
	    padding:0;
		margin:0;
		display:block;
    }
	.multiact.multi-tag ul li {
	    padding: 1px 5px;
		margin: 0 1px 5px 0;
		display: inline-block;		
		border-radius: 4px;
    }
	.multiact.multi-tag .act-cls, .act-cls {
		background-color:rgb(102 16 242 / 11%);
		border: 1px solid rgb(102 16 242 / 25%);
	}
	.search-txt{
		background-color:#5f54721c;
		border: 1px solid rgb(102 16 242 / 25%);
		padding: 0px 4px;
		margin-left: 5px;
		border-radius: 4px;
		display: inline-block;
	}
	.multiact.multi-tag .act-sub, .act-sub {
		background-color:rgb(32 201 151 / 17%);
		border: 1px solid rgb(32 201 151 / 35%);
	}
	.multiact.multi-tag .act-cptr, .act-cptr {
		background-color:rgb(255 193 7 / 15%);
		border: 1px solid rgb(255 193 7 / 20%);
	}
	.multiact.multi-tag .act-cont, .act-cont {
		background-color:#f8f9fa;
		border: 1px solid #e5e5e5;
	}
	.act-cptr span, .act-cont span {
		font-weight:500;
	}

	/*.form-group {
		overflow:hidden;
	}*/
    label:not(.form-check-label):not(.custom-file-label) {
       font-weight: 500 !important;
    }
	.select2-container {
       display: block !important;
    }
	.select2 select2-container select2-container--default select2-container--below select2-container--focus{
		width: 230px !important;
    }
		  .select2-container--default .select2-selection--multiple .select2-selection__choice {
			background-color: #A46497 !important;
			border-color: #006fe6 !important;
			color: #fff !important;
			padding: 0 10px !important;
			margin-top: .31rem !important;
		  }
	  
		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: inline-block;
			overflow: hidden;
			padding-left: 8px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
			color: rgba(255,255,255,.7) !important;
			float: right;
			margin-left: 5px;
			margin-right: -2px;
		}
		
		.mb-3{ margin-bottom: 0 !important; margin-right: 10px; }
.btn-sm{ padding: .375rem .75rem; }
.rtside{ float:right; }

.select2-container {
    display: block !important;
}
	.select2 select2-container select2-container--default select2-container--below select2-container--focus{
		width: 230px !important;
    }
		  .select2-container--default .select2-selection--multiple .select2-selection__choice {
			background-color: #A46497 !important;
			border-color: #006fe6 !important;
			color: #fff !important;
			padding: 0 10px !important;
			margin-top: .31rem !important;
		  }
	  
		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: inline-block;
			overflow: hidden;
			padding-left: 8px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
			color: rgba(255,255,255,.7) !important;
			float: right;
			margin-left: 5px;
			margin-right: -2px;
		}
		.w-5, h-5{
		display:none !important;
	}
.user-panel img {
    height: auto;
    width: 3.1rem;
    padding: 5px;
}
.update-activity ul {
    list-style: none;
	overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
}
.update-activity label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500 !important;
	color: #333;
}
.update-activity .card-header {
    cursor:pointer;
}
.form-control {
	font-size:12px;
}
input[type="file"].form-control {
    height: calc(2rem + 2px);
}
.action-btns {
	padding-bottom:30px;
}
.note-editor.card {
    box-shadow: none;
}
.top-action-btns { 
	/*display: inline-block;*/
    float: right;
}
.btn-light {
    font-size: 14px;
    font-weight: 500;
	color: #1f2d3d;
    background-color: #e2e6ea;
    border-color: #dae0e5;
	float: right;
}
.btn-light i {
    margin-right:5px;
}
.content-header h1 {
    font-size: 1.5rem;
}
.sidebar-mini.sidebar-collapse .user-panel .image {
    float: left;
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
}
.brand-link {
	display: flex;
    align-items: center;
	border-bottom: none !important;
}
.brand-text {
	text-transform:capitalize;
	font-size:1rem;
}
.filter-head .form-control{
	margin-right:10px;
}
.card-header.filter-head {
	padding: .75rem 0.75rem;
}
/*.fltr-row {
    margin: 0 -7.5px;
}*/
.fltr-srch.form-group {
    margin-left: auto;
}
a.create-btn {
    float: right;
}
.fltr-srch .fltr-txt-bx {
    width: 200px;
}
.form-control, .btn {
    height: calc(2.25rem - 2px);
}

.act-filter-bar {
    /* display: inline-block; */
    /* margin-left: 30px; */
    float: right;
}
.flt-txt {
    cursor: pointer;
    background-color: rgb(229 234 239);
    color: #292775;
    border: none;
    font-weight: 500;
    /* padding: 10px 20px; */
    font-size: 14px;
    padding: .375rem .75rem;
    display: inline-block;
	border-radius:0.25rem;
	transition:0.3s;
	height: calc(2.25rem - 2px);
}
.flt-txt:first-child {
    margin-left: 5px;
}
.flt-txt.active {
    background-color: rgb(52 58 64);
    color: #fff;
}
.fltr-keys {
	margin-top:10px;
	display: flex;
    align-items: center;
}
.fltr-keys>span, .fltr-keys ul, .fltr-keys ul li {
	display:inline-block;
}
.fltr-keys ul{
	padding-left:5px;
	margin-bottom:0;
}
.fltr-keys ul li {
	padding:0px 4px;
	margin-right:5px;
	border-radius:4px;
}
.act-header {
	display:inline-block;
	margin-top: 3px !important;
}
a.create-btn input[type="submit"] {
	text-transform:uppercase;
	font-weight:600;
}
.fltr-count {
	padding: 3px 15px;
    background-color: #eee;
    font-size: 13px;
}
.no-counts {
	font-weight:600;
}
.table td, .table th {
    padding: 0.5rem .5rem;
}
.table.act-table-grid th:nth-child(1) {
    width:15%;
}
.table.act-table-grid th:nth-child(2) {
    width:50%;
}
.table.act-table-grid th:nth-child(3) {
    width:25%;
}
.table.act-table-grid th:last-child {
    width:10%;
}
.table.act-table-grid td:last-child {
    display:flex;
}

#class-main .table.table-grid td:last-child, #class-main .table.table-grid th:last-child{
	width:10%; 
}
#class-main .table.table-grid td:nth-last-child(2), #class-main .table.table-grid th:nth-last-child(2){
	width:10%; 
}
.table.table-grid th {
	font-weight: 400;
}
.table.table-grid img {
	width: 50px;
	height: 50px;
}
.table.table-grid th:first-child, .table.table-grid td:first-child{
    width:auto;
	padding:8px !important;
}

.table.table-grid td:last-child {
    display:flex;
}

/*** grid-4 start **/
.table.table-grid.grid-4 th:first-child, .table.table-grid.grid-4 td:first-child{
    width:1%;
	padding:8px !important;
}
.table.table-grid.grid-4 th:nth-child(2) {
    width:auto;
}
.table.table-grid.grid-4 th:nth-child(3) {
    width:auto;
}
.table.table-grid.grid-4 th:last-child, .table.table-grid.grid-4 td:last-child {
	padding-right: 0.5rem !important;
}
/*** grid-4 End **/

.table.table-grid th:last-child, .table.table-grid td:last-child {
	width: 94px !important;
	width: 136px !important;
}

/*** grid-5 start **/
.table.table-grid.grid-5 th:first-child, .table.table-grid.grid-5 td:first-child{
    width:2%;
	padding:8px !important;
}
.table.table-grid.grid-5 th:nth-child(2) {
    width:30%;
}
.table.table-grid.grid-5 th:nth-child(3) {
    width:50%;
}
.table.table-grid.grid-5 th:nth-child(5) {
    width:9%;
}
.table.table-grid.grid-5 th:last-child, .table.table-grid.grid-5 td:last-child {
	padding-right: 0.5rem !important;
}
/*** grid-5 End **/

/*** grid-6 start **/
.table.table-grid.grid-6 th:first-child, .table.table-grid.grid-6 td:first-child{
    width:2%;
	padding:8px !important;
}
.table.table-grid.grid-6 th:nth-child(2) {
    width:70%;
}
.table.table-grid.grid-6 th:nth-child(3) {
    width:10%;
}
.table.table-grid.grid-6 th:nth-child(4) {
    width:16%;
}
.table.table-grid.grid-6 th:nth-child(5) {
    width:auto;

}
.table.table-grid.grid-6 th:last-child {
    width:auto;
}
.table.table-grid.grid-6 th:last-child, .table.table-grid.grid-6 td:last-child {
	padding-right: 0.5rem !important;
}

/*** grid-6 End **/

/*** grid-7 start **/
.table.table-grid.grid-7 th:nth-child(2) {
    width:8%;
}
.table.table-grid.grid-7 th:nth-child(3) {
    width:12%;
}
.table.table-grid.grid-7 th:nth-child(5) {
    width:30%;
}
.table.table-grid.grid-7 th:last-child, .table.table-grid.grid-7 td:last-child {
	padding-right: 0.5rem !important;
}
/*** info grid-7 End **/


/*** user info grid-6 start **/

.user-info .table.table-grid.grid-6 th:first-child, .user-info .table.table-grid.grid-6 td:first-child{
    width:3%;
	padding:8px !important;
}
.user-info .table.table-grid.grid-6 th:nth-child(2) {
    width:23%;
}
.user-info .table.table-grid.grid-6 th:nth-child(3) {
    width:30%;
}
.user-info .table.table-grid.grid-6 th:nth-child(4) {
    width:12%;
}
.user-info .table.table-grid.grid-6 th:nth-child(5) {
    width:25% !important;
}

/*** user info grid-6 End **/



.card-body.p-0 .table tbody>tr>td:first-of-type, .card-body.p-0 .table tbody>tr>th:first-of-type, .card-body.p-0 .table tfoot>tr>td:first-of-type, .card-body.p-0 .table tfoot>tr>th:first-of-type, .card-body.p-0 .table thead>tr>td:first-of-type, .card-body.p-0 .table thead>tr>th:first-of-type {
	padding-left: 0.55rem;
}
.btn.delete-btn, .btn.edit-btn, .btn.copy-btn {
    display: grid;
	width: 100%;
	margin-top:2px;
	align-items: center;
    text-align: center;
	width:34px;
	margin-left:5px;
	background: #fff;
}
.fa {
	font-size: 16px;
}
.fa-pencil-alt {
	color: #17a2b8;
}
.fa-trash {
	color: #f44336;
}
.btn-danger {
    border-color: #f44336;
}
.btn.copy-btn {
	border-color: #2196f3;
}
.fa-copy {
	color: #2196f3;
}
.edit-btn:active {
	background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
.copy-btn:active {
	background-color: #2196f3 !important;
    border-color: #2196f3 !important;
}
.btn-danger:active {
	background-color: #f44336 !important;
    border-color: #f44336 !important;
}
.copy-btn:active .fa-copy, .edit-btn:active .fa-pencil-alt, .btn-danger:active .fa-trash {
	color: #fff;
}

.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,.05),1px -1px 4px rgba(0,0,0,.20)!important;
}
